.kb-root {
  --key-margin: calc(var(--unit) * 0.5);
  --key-height: calc(var(--unit) * 3.5);
  --key-width: calc(var(--unit) * 4);
  font-size: calc(var(--unit) * 2);
  margin: 0 auto;
  width: calc(var(--key-width) * 10 + var(--key-margin) * 9);
  height: calc(var(--key-height) * 5 + var(--key-margin) * 4);
}

.kb-row {
  width: 100%;
  height: var(--key-height);
  margin-bottom: var(--key-margin);
}

.kb-row:last-child {
  margin-bottom: 0;
}

.kb-key {
  position: relative;
  width: var(--key-width);
  height: var(--key-height);
  margin-right: var(--key-margin);
}

.kb-key:last-child {
  margin-right: 0;
}

.kb-key.clue0 {
  background: var(--clue-none);
}
.kb-key.clue1 {
  background: var(--clue-miss);
}
.kb-key.clue2 {
  background: var(--clue-graze);
}
.kb-key.clue3 {
  background: var(--clue-hit);
}
.kb-key.clue4 {
  background: var(--clue-blank);
}

.kb-clue-label {
  position: absolute;
  right: calc(var(--unit) * 0.5);
  top: calc(var(--unit) * 0.125);
  font-size: calc(var(--unit) * 1.25);;
  line-height: 100%;
}