:root {
  --bg: #3b2c40;
  --bg-dark: #3b2c40;
  --text: #ffffff;
  --letter-text: #000000;
  --letter-blank: #d2d2d2;
  --letter-miss: #7c8185;
  --letter-graze: #fcc946;
  --letter-hit: #7be695;
  --focus: #ff4080;
}

body {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  font-family: Inter Alia;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg);
  color: var(--text);
}